/* COLORS
#daebf2 // CELESTE CLARO
#fad508 // AMARILLO
#3398cc // azul
##a6ce3a // verde
#b499cb // violeta
#333 // NEGRO */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Raleway:wght@700&display=swap');
* {
	box-sizing: border-box;
}

/* FORMAT */
body {
	margin: 0px;
	padding: 0px;
	background-color: #daebf2;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
h1 h2 h3 h4 h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
h1 {
	font-size: 50px;
	line-height: 50px;
}
a {
	text-decoration: none;
}
.text-light {
	font-weight: 300;
}
/* HEADER */
header {
	height: 50px;
	background-color: #fad508;
	padding: 15px;
}

header nav {
	display: flex;
	justify-content: space-between;
}

header nav .logo img {
	height: 50px;
}
/* PRIMERA SECCION */
.single-podcast {
	background-color: #fad508;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 50px);
}
.player {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.player img {
	height: 300px;
	width: 300px;
}

/* SEGUNDA SECCION */

.multi-podcast {
	padding: 100px 60px;
}
.coleccion-podcast {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	background-color: #fad508;
	padding: 15px;
	margin: 15px 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(111, 111, 111, 0.3);
	transition: 300ms;
	width: 200px;
}
.card:hover {
	transform: scale(1.1);
	*margin: 30px 40px;
	transition: 300ms;
}

.card a img {
	width: 100%;
}
.card a {
	color: #333;
}

/* FOOTER */

footer {
	height: 100px;
	background-color: #333;
	color: #daebf2;
	padding: 20px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}
footer h3 {
	display: inline-box;
}
.redes {
	display: flex;
	align-items: center;
}
.redes a {
	color: #fad508;
	margin: 30px;
	font-size: 20px;
}
/* COLORS */
.verde {
	background-color: #a6ce3a;
}
.azul {
	background-color: #3398cc;
}
.violeta {
	background-color: #b499cb;
}
.amarillo {
	background-color: #fad508;
}
